<main>
  <header class="header">
    <h1 class="logo">Angular CSS</h1>
  </header>

  <aside>
    <nav class="nav">
      <ul class="list">
        <li class="item"><a href="#" class="link">Inicio</a></li>
        <li class="item"><a href="#" class="link">Servicios</a></li>
        <li class="item"><a href="#" class="link">Acerca de</a></li>
        <li class="item"><a href="#" class="link">Contacto</a></li>
      </ul>
    </nav>
  </aside>


  <section class="section">
    <ul class="image-list">
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
      <li class="image-list-item">
        <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"></article>
      </li>
    </ul>
  </section>

  <footer class="footer">
    <ul class="icons">
      <li class="icon-item">
        <a href="#" class="icon-item-link"><span class="icon icon-facebook2"></span></a>
      </li>
      <li class="icon-item">
        <a href="#" class="icon-item-link"><span class="icon icon-twitter"></span></a>
      </li>
      <li class="icon-item">
        <a href="#" class="icon-item-link"><span class="icon icon-youtube"></span></a>
      </li>
      <li class="icon-item">
        <a href="#" class="icon-item-link"><span class="icon icon-linkedin"></span></a>
      </li>
      <li class="icon-item">
        <a href="#" class="icon-item-link"><span class="icon icon-github"></span></a>
      </li>
    </ul>
  </footer>
</main>