<header class="header">
  <div class="container">
    <h1 class="logo">Angular CSS</h1>
    <nav class="nav">
      <ul class="list">
        <li class="item"><a href="#" class="link">Inicio</a></li>
        <li class="item"><a href="#" class="link">Servicios</a></li>
        <li class="item"><a href="#" class="link">Acerca de</a></li>
        <li class="item"><a href="#" class="link">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="section section-one">
  <div class="container">
    <div class="box box-right">
        <h2 class="box-title">Lorem ipsum dolor sit amet</h2>
        <p class="box-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet pretium enim, at sagittis nisi. Duis non
          ex nec leo iaculis lobortis at vel ligula. Sed nec augue aliquam, facilisis sem at, ornare dolor. Vestibulum eu ex
          id urna ultricies pellentesque sit amet vitae arcu. Donec ac risus pulvinar, luctus eros quis, pretium ipsum.
          Aliquam enim felis, lacinia non justo quis, sagittis interdum nisl. Donec placerat sem a elit tincidunt ultrices.
        </p>
    </div>
  </div>
</section>

<section class="section section-two">
    <div class="container">
        <div class="box box-left">
            <h2 class="box-title">Lorem ipsum dolor sit amet</h2>
            <p class="box-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet pretium enim, at sagittis nisi. Duis non
              ex nec leo iaculis lobortis at vel ligula. Sed nec augue aliquam, facilisis sem at, ornare dolor. Vestibulum eu ex
              id urna ultricies pellentesque sit amet vitae arcu. Donec ac risus pulvinar, luctus eros quis, pretium ipsum.
              Aliquam enim felis, lacinia non justo quis, sagittis interdum nisl. Donec placerat sem a elit tincidunt ultrices.
            </p>
        </div>
      </div>
</section>

<section class="servicios">

</section>

<section class="contacto">

</section>

<footer class="footer">
</footer>