.header{
    -webkit-box-shadow: 0 3px 5px #393f484d;
    background-color: white;
    box-shadow: 0 3px 5px #393f484d;
    padding: 10px 0px;
    width: 100%;
    grid-area: header;
        .logo{
            @include reset();
            color: $main-color;
            padding-left: 10px;
        }
}